# Ignore VS Code specific files
.vscode/

# Ignore old code and old data which has sensitive information
old_code
old_data

# Ignore all user generated database files
data/
*.db
*.db.bak

# Ignore all user generated log files
logs/


# Ignore Python related cache files and folders
**/__pycache__/
*.py[cod]
