# Ignore .gitignore file
.gitignore

# Ignore VS Code specific files
.vscode

# Ignore .gitignore.python (template for Python projects)
.gitignore.python

# Ignore old code and old data which has sensitive information
old_code
old_data
